.easy-button-group {
    --easy-button-group-border-color: var(--easy-border-color-lighter);
}
.easy-button {
    --easy-button-font-weight: var(--easy-font-weight-primary);
    --easy-button-border-color: var(--easy-border-color);
    --easy-button-bg-color: var(--easy-fill-color-blank);
    --easy-button-text-color: var(--easy-text-color-regular);
    --easy-button-disabled-text-color: var(--easy-disabled-text-color);
    --easy-button-disabled-bg-color: var(--easy-fill-color-blank);
    --easy-button-disabled-border-color: var(--easy-border-color-light);
    --easy-button-hover-text-color: var(--easy-color-primary);
    --easy-button-hover-bg-color: var(--easy-color-primary-light-9);
    --easy-button-hover-border-color: var(--easy-color-primary-light-7);
    --easy-button-active-text-color: var(--easy-button-hover-text-color);
    --easy-button-active-border-color: var(--easy-color-primary);
    --easy-button-active-bg-color: var(--easy-button-hover-bg-color);
    --easy-button-outline-color: var(--easy-color-primary-light-5);
    --easy-button-active-color: var(--easy-text-color-primary);
}

.easy-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--easy-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: var(--easy-button-font-weight);
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: var(--easy-button-bg-color);
    border: var(--easy-border);
    border-color: var(--easy-button-border-color);
    padding: 8px 15px;
    font-size: var(--easy-font-size-base);
    border-radius: var(--easy-border-radius-base);
    & + & {
        margin-left: 12px;
    }
    &:hover,
    &:focus {
        color: var(--easy-button-hover-text-color);
        border-color: var(--easy-button-hover-border-color);
        background-color: var(--easy-button-hover-bg-color);
        outline: none;
    }
    &:active {
        color: var(--easy-button-active-text-color);
        border-color: var(--easy-button-active-border-color);
        background-color: var(--easy-button-active-bg-color);
        outline: none;
    }
    /*plain*/
    &.is-plain {
        --easy-button-hover-text-color: var(--easy-color-primary);
        --easy-button-hover-bg-color: var(--easy-fill-color-blank);
        --easy-button-hover-border-color: var(--easy-color-primary);
    }
    /*round*/
    &.is-round {
        border-radius: var(--easy-border-radius-round);
    }
    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 8px;
    }
    /*disabled*/
    &.is-loading,
    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus,
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        color: var(--easy-button-disabled-text-color);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--easy-button-disabled-bg-color);
        border-color: var(--easy-button-disabled-border-color);
    }
    [class*='er-icon'] {
        width: 1em;
        height: 1em;
    }
}
@each $val in primary, success, warning, info, danger {
    .easy-button--$(val) {
    --easy-button-text-color: var(--easy-color-white);
    --easy-button-bg-color: var(--easy-color-$(val));
    --easy-button-border-color: var(--easy-color-$(val));
    --easy-button-outline-color: var(--easy-color-$(val)-light-5);
    --easy-button-active-color: var(--easy-color-$(val)-dark-2);
    --easy-button-hover-text-color: var(--easy-color-white);
    --easy-button-hover-bg-color: var(--easy-color-$(val)-light-3);
    --easy-button-hover-border-color: var(--easy-color-$(val)-light-3);
    --easy-button-active-bg-color: var(--easy-color-$(val)-dark-2);
    --easy-button-active-border-color: var(--easy-color-$(val)-dark-2);
    --easy-button-disabled-text-color: var(--easy-color-white);
    --easy-button-disabled-bg-color: var(--easy-color-$(val)-light-5);
    --easy-button-disabled-border-color: var(--easy-color-$(val)-light-5);
}
    .easy-button--$(val).is-plain {
    --easy-button-text-color: var(--easy-color-$(val));
    --easy-button-bg-color: var(--easy-color-$(val)-light-9);
    --easy-button-border-color: var(--easy-color-$(val)-light-5);
    --easy-button-hover-text-color: var(--easy-color-white);
    --easy-button-hover-bg-color: var(--easy-color-$(val));
    --easy-button-hover-border-color: var(--easy-color-$(val));
    --easy-button-active-text-color: var(--easy-color-white);

    --easy-button-disabled-text-color: var(--easy-color-$(val)-light-5);
    --easy-button-disabled-bg-color: var(--easy-color-$(val)-light-9);
    --easy-button-disabled-border-color: var(--easy-color-$(val)-light-8);
}
}
.easy-button--large {
    --easy-button-size: 40px;
    height: var(--easy-button-size);
    padding: 12px 19px;
    font-size: var(--easy-font-size-base);
    border-radius: var(--easy-border-radius-base);
    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 12px;
    }
}
.easy-button--small {
    --easy-button-size: 24px;
    height: var(--easy-button-size);
    padding: 5px 11px;
    font-size: 12px;
    border-radius: calc(var(--easy-border-radius-base) - 1px);
    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 5px;
    }
    [class*='er-icon'] {
        width: 12px;
        height: 12px;
    }
}

.easy-button-group {
    display: inline-block;
    vertical-align: middle;

    &::after {
        clear: both;
    }
    & > :deep(.easy-button){
        float: left;
        position: relative;
        margin-left: 0;
        &:first-child{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-color: var(--easy-button-group-border-color);
        }
        &:last-child{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left-color: var(--easy-button-group-border-color);
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 0;

            border-left-color: var(--easy-button-group-border-color);
            border-right-color: var(--easy-button-group-border-color);
        }
        &:not(:last-child) {
            margin-right: -1px;
        }
        &:first-child:last-child {
            border-top-right-radius: var(--easy-border-radius-base);
            border-bottom-right-radius: var(--easy-border-radius-base);
            border-top-left-radius: var(--easy-border-radius-base);
            border-bottom-left-radius: var(--easy-border-radius-base);

            &.is-round {
                border-radius: var(--easy-border-radius-round);
            }

            &.is-circle {
                border-radius: 50%;
            }
        }
    }
}
